@charset "UTF-8";

// common Japanese font stacks
$yumin: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
$meiryo:"メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", "游ゴシック", YuGothic, sans-serif;
$yugothic:"游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, sans-serif;
$hiragino:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, Verdana, sans-serif;

@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);
$hannari: "Hannari", "游明朝", YuMincho, serif;
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
$noto: "Noto Sans Japanese", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;

$sans: $noto;
$serif: $yumin;

html {
  font-size: 16px;
}

body {
  font-family: $sans;
  font-size: 0.75rem;
  font-weight: 400;
  color: $font-color;
  @include min-sm {
    font-size: 1rem;
  }
}

*[lang='ja'] {
  letter-spacing: 0.1em;
}

p {
  width: 100%; // fix for IE11 flex bugs
  line-height: 1.4;
  color: inherit;
}
