@charset "UTF-8";
/* Breakpoints ブレークポイント */
// 320px displays are smallest supported
$screen-xxs: 360px; //modern smartphones
$screen-xs: 568px; //landscape phones
$screen-sm: 768px; //tablets
$screen-md: 992px; //landscape tablets, PC
$screen-lg: 1200px; //wide pcs
$screen-xl: 2560px; //1440p+ displays

//responsive display/hidden tags (for line breaks etc)
/* small smartphones */
.xxs-down {
  @media only screen and (min-width: $screen-xs) {
    display: none !important;
  }
}
/* landscape smartphones and below */
.xs-down {
  @media only screen and (min-width: $screen-sm) {
    display: none !important;
  }
}
.xs-up {
  @media only screen and (max-width:#{$screen-xs - 1}) {
    display: none !important;
  }
}
/* tablets and below */
.sm-down {
  @media only screen and (min-width: $screen-md) {
    display: none !important;
  }
}
/* tablets and up */
.sm-up {
  @media only screen and (max-width:#{$screen-sm - 1}) {
    display: none !important;
  }
}
/* pc and below */
.md-down {
  @media only screen and (max-width:#{$screen-md - 1}) {
    display: none !important;
  }
}
/* pc and up */
.md-up {
  @media only screen and (max-width:#{$screen-md - 1}) {
    display: none !important;
  }
}
/* lg and below */
.lg-down {
  @media only screen and (max-width:#{$screen-lg - 1}) {
    display: none !important;
  }
}
/* lg and up */
.lg-up {
  @media only screen and (max-width:#{$screen-lg - 1}) {
    display: none !important;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: $screen-md) {
    width: $screen-md;
  }
}
.container-lg {
  @extend .container;
  @include min-md {
    width: 100%;
  }
  @include min-lg {
    width: $screen-lg;
  }
}
.flex-container {
  @extend .container;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.col {
  flex-grow: 1;
}
/* Column sizes with no breakpoints */
.col-12 {
  @extend .col;
}
.col-11 {
  @extend .col;
  width: 91.667%;
  flex-grow: 0;
}
.col-10 {
  @extend .col;
  width: 83.333%;
  flex-grow: 0;
}
.col-9 {
  @extend .col;
  width: 75%;
  flex-grow: 0;
}
.col-8 {
  @extend .col;
  width: 66.667%;
  flex-grow: 0;
}
.col-7 {
  @extend .col;
  width: 58.333%;
  flex-grow: 0;
}
.col-6 {
  @extend .col;
  width: 50%;
  flex-grow: 0;
}
.col-5 {
  @extend .col;
  width: 41.667%;
  flex-grow: 0;
}
.col-4 {
  @extend .col;
  width: 33.33%;
  flex-grow: 0;
}
.col-3 {
  @extend .col;
  width: 25%;
  flex-grow: 0;
}
.col-2 {
  @extend .col;
  width: 16.667%;
  flex-grow: 0;
}
.col-1 {
  @extend .col;
  width: 8.333%;
  flex-grow: 0;
}

/* Full-width column breakpoints */
/* Smartphone columns */
.col-xxs {
  @extend .col;
  @include max-xxs {
    width: 100% !important;
  }
}
/* landscape smartphones (560px) breakpoint */
.col-xs {
  @extend .col;
  @include max-xs {
    width: 100% !important;
  }
}
/* small (768px) breakpoint */
.col-sm {
  @extend .col;
  @include max-sm {
    width: 100% !important;
  }
}
/* medium (992px) breakpoint */
.col-md {
  @extend .col;
  @include max-md {
    width: 100% !important;
  }
}
/* large (1200px) breakpoint */
.col-lg {
  @extend .col;
  @include max-lg {
    width: 100% !important;
  }
}
